<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="frameworks/bootstrap.min.css">
        <link rel="stylesheet" href="frameworks/bootstrap-theme.min.css">
        <script src="frameworks/jquery-1.11.2.min.js"></script>
        <script src="frameworks/angular.min.js"></script>
        <script src="frameworks/angular-sanitize.min.js"></script>
        <script src="js/controlador.js"></script>
        <script src="js/busquedas.js"></script>
        <script src="js/palabrasReservadas.js"></script>
    </head>
    <body data-ng-app="compilador">
        <div class="container-fluid" data-ng-controller="guardian">
            <div class="row">
                <div class="jumbotron">
                    Palabras Reservadas: <font color="blue"><b>
                        inicio, si, entonces, sino, finSi, mq, finMq, para, finPara, haga, declare, envia, recibe, llamar, fin, entero, real, cadena, fecha, logico
                    </b></font>
                    <header><h1 class="text-center">
                            COMPILADOR MUNDIAL
                        </h1></header>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <textarea  rows="10" id="contenido" style="width:100%" data-ng-model="text" data-ng-keyUp="ver()" >
						{{text}}
                    </textarea>
                </div>

                <div class="col-lg-6" data-ng-bind-html="res">
                </div>		
            </div>
            <div class="row container">
                <div class="col-lg-6">

                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Busque una palabra" data-ng-model="bus" data-ng-keyUp="buscar()">
                        </div>
                        <button type="submit" disabled class="btn btn-default">Numero de Ocurrencias: {{oc}}</button>
                    </form>

                    <div class="navbar-form navbar-left"  data-ng-show="mostrar" >
                        <input type="text" class="form-control" data-ng-model="trempl"  placeholder="Remplazar por:" data-ng-keyUp="remplazar()">
                        <button class="form-control" data-ng-click="aplicar()">Aplicar</button>
                    </div>
                </div>
                <div class="col-lg-6" data-ng-bind-html="rec"></div>
            </div>

            <div class="row container">
                <br>
                <p><font color="blue"><b>Numero de Palabras Reservadas: {{azul}}</b></font></p>
                <p><font color="#848484"><b>Numero de Lineas de Comentarios: {{gris}}</b></font></p>
                <p>Numero de Identificadores Validos: {{ todos.length}} </p>
                <ul>
                    <li>Numero de Datos tipo Entero: {{tipDat.entero.length}}</li>
                    <li>Numero de Datos tipo Cadena: {{tipDat.cadena.length}}</li>
                    <li>Numero de Datos tipo Fecha: {{tipDat.fecha.length}}</li>
                    <li>Numero de Datos tipo logico: {{tipDat.logico.length}}</li>
                    <li>Numero de Datos tipo Real: {{tipDat.real.length}}</li>
                    <li>Numero de Identificadores No Validos: {{tipDat.nov.length}}</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>Variables Entero Declaradas: {{tipDat.entero}}</li>
                    <li>Variables Cadena Declaradas: {{tipDat.cadena}}</li>
                    <li>Variables Fecha Declaradas: {{tipDat.fecha}}</li>
                    <li>Variables Logico Declaradas: {{tipDat.logico}}</li>
                    <li>Variables Real Declaradas: {{tipDat.real}}</li>
                    <li>Variables Declaradas No Validas: {{tipDat.nov}}</li>
                </ul>
            </div>				

        </div>
    </body>
</html>